################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackendAPI/appsettings.json
/BackendAPI/appsettings.Development.json
.vs/
/ETLWorkerService/appsettings.json
/ETLWorkerService/appsettings.Development.json
/HangfireDemo/appsettings.json
/HangfireDemo/appsettings.Development.json
/Dotnet-Core-with-Docker/WebAPI/appsettings.json
/Dotnet-Core-with-Docker/WebAPI/appsettings.Development.json
/WebAPI/appsettings.json
/WebAPI/appsettings.Development.json
/WorkerServiceDemo/appsettings.json
/WorkerServiceDemo/appsettings.Development.json
